*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #344A4F !important;
}

.home{
  background-color:#236765;
}

.list.p-5{
  background-color:  #344A4F !important;
}

.container{
  border-radius: 10px;
  
}

.w-100 h5{
  color: #A2D5AC;
}