*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #344A4F !important;
}

.home{
  background-color: #236765;
background-image: linear-gradient(180deg, #236765 0%, #344a4f 100%);

}

.list.p-5{
  background-color: #236765;
background-image: linear-gradient(180deg, #236765 0%, #a2d5ac 100%) !important;
}

.container{
  border-radius: 10px;
  
}

.w-100 h5{
  color: red
}